<app-menu></app-menu>

<div class="container">
  <div class="card shadow mb-4">
  <div class="card-body">
  <h1>Liste des stages</h1>
  <table width="100%">
  <thead>
  <tr>
  <th>Code</th>
  <th>type</th>
  <th>duree</th>
 <th>l'entreprise</th>
  <th>date debut</th>
  <th >Action</th>
  </tr>
  </thead>
  <tbody *ngFor="let stage of tab_stg">
  <tr >
  <td>{{stage.code}}</td>
  <td>{{stage.type }}</td>
  <td>{{stage.duree}}</td>
 <td>{{stage.entreprise}} </td>
  <td>{{stage.dateDebut | date:'dd/MM/yyyy'}}</td>
  
<td>
  
    <a class="btn btn-danger" (click)="suppStage(stage)" >
        <img src="../assets/img/delete.png" height="32" width="32"></a>

    <a class="btn btn-warning" href="['/updateStage',stage.code]">
        <img src="../assets/img/edit.png" height="32" width="32"> </a>
        
</td>
</tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>

