<div class="container">
  <div>
  <h2>Modifier un stage</h2>
  </div>
  <form >
  <div class="col-sm-2 col-md-2 col-lg-2">
  <label >Code</label>
<input readonly type="text" [(ngModel)]="stageCourant.code" name="code" class="form-control">
</div>

<div class="col-sm-4 col-md-4 col-lg-4" >
<label >Ttype</label>
<input type="text"[(ngModel)]= "stageCourant.type" name="type" class="form-control">
</div>

<div class="col-sm-2 col-md-2 col-lg-2">
<label >duree</label>
<input type="number" [(ngModel)]= "stageCourant.duree" name="duree" class="form-control">
</div>

<div class="col-sm-2 col-md-2 col-lg-2">
<label >entreprise</label>
<input type="string" [(ngModel)]= "stageCourant.entreprise" name="entreprise" class="form-control">
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
<label >Date d'ajout</label>
<input type="date" [ngModel]="stageCourant.dateDebut | date:'yyyy-MM-dd'" (ngModelChange)=" stageCourant.dateDebut= $event" name="dateAjout" class="form-control">
</div>

<div class="mt-2">

<button type="submit" (click)="modifStage()" class="btn btn-success">Modifer</button>

</div>
</form>
</div>

