<nav class="navbar navbar-expand-sm bg-info navbar-light" >
<a class="navbar-brand" href="/infogenerale">Abir Chmengui</a>
<ul class="navbar-nav">


<li class="nav-item" >
    <a class="nav-link" routerLink="/infogenerale" >Infos générales</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" routerLink="/competence" >Compétences</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" routerLink="/diplome" >Diplomes et formations</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" routerLink="/experience" >Expériences professionelle et stages</a>
     </li>
    </ul>
             <ul class="navbar-nav m1-auto">
            <li class="nav-item dropdown" >
            <a class="nav-link" routerLink="/connect" >Administration</a>
        </li>
     </ul>
</nav>








    







  