<div class="container">
    <div>
    <h2>Modifier un type</h2>
    </div>
    <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Code</label>
    <input readonly type="text" [(ngModel)]="typeCourant.codet" name="codet" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >type de stage</label>
    <input type="text"[(ngModel)]= "typeCourant.typeStg"  name="type" class="form-control">
    </div>
    <div class="mt-2">
    <button type="submit" (click)="modifType()" class="btn btn-success"> Modifer </button>
    </div>
    </form>
    </div>